<script>
    // date 对象转化为字符串
    function dateToFormatString_Day(date) {
        let y = date.getFullYear();
        let m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        let d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        return y + '-' + m + '-' + d;
　　}

    // 日期字符串转化成中文格式
    function dateStringToChinese(date_str){
        let date_list = date_str.split('-');
        return date_list[0] + '年' + date_list[1] + '月' + date_list[2] + '日';
    }

    // 分钟数转化成中文格式
    function minutesToChinese(minutes){
        let n_hours = Math.floor(minutes / 60);
        let n_minutes = minutes % 60;
        return n_hours.toString() + '小时 ' + n_minutes.toString() + '分钟';
    }

   function dateToFormatString_Clock (date) {
        let y = date.getFullYear();
        let m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        let d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        let h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        let minute = date.getMinutes();
        minute = minute < 10 ? ('0' + minute) : minute;
        let second = date.getSeconds();
        second = second < 10 ? ('0' + second) : second;
        return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
　　}

    /* 获取今天的日期 */
    function get_today_date() {
        date = new Date();
        return dateToFormatString_Day(date);
    }

    /* 获取本月的第一天、最后一天日期 */
    function get_month_start_end_date() {
        let date = new Date();
        let firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        let lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

        return {
            "start": dateToFormatString_Day(firstDay),
            "end": dateToFormatString_Day(lastDay)
        }
    }

    /* 获取本周的第一天、最后一天日期 */
    function get_week_start_end_date() {
        date = new Date();

        /* JS获取本周开始日期 */
        if (date.getDay() === 0) {
            date.setDate(date.getDate() - 7 + 1);
        } else {
            date.setDate(date.getDate() - date.getDay() + 1);
        }
        let week_start_str = dateToFormatString_Day(date);

        /* JS获取本周结束日期 */
        date.setDate(date.getDate() + 6);
        let week_end_str = dateToFormatString_Day(date);

        return {
            "start": week_start_str,
            "end": week_end_str
        }
    }

    /* 获取某月的第一天、最后一天日期 */
    function get_fixed_month_start_end_date(day_str) {
        let date = new Date(day_str);
        let firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        let lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

        return {
            "start": dateToFormatString_Day(firstDay),
            "end": dateToFormatString_Day(lastDay)
        }
    }

    /* 获取某周的第一天、最后一天日期 */
    function get_fixed_week_start_end_date(day_str) {
        date = new Date(day_str);

        /* JS获取本周开始日期 */
        if (date.getDay() === 0) {
            date.setDate(date.getDate() - 7 + 1);
        } else {
            date.setDate(date.getDate() - date.getDay() + 1);
        }
        let week_start_str = dateToFormatString_Day(date);

        /* JS获取本周结束日期 */
        date.setDate(date.getDate() + 6);
        let week_end_str = dateToFormatString_Day(date);

        return {
            "start": week_start_str,
            "end": week_end_str
        }
    }
</script>