<!-- 需要导入的插件入 -->

<!-- 引入jQuery框架-->
<script src="/static/js/jquery-3.6.0.min.js"></script>

<!-- 引入fullcalendar框架-->
{% load static %}
<link type="text/css" rel='stylesheet' href='/static/plugins/fullcalendar-5.9.0/lib/main.css'/>
<script type="text/javascript" src='/static/plugins/fullcalendar-5.9.0/lib/main.js'></script>

<!-- 引入bootstrap框架-->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="/static/plugins/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入，上面已经引入 -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/plugins/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

<!-- 引入LayUI框架   -->
<link rel="stylesheet" href="/static/plugins/layui-v2.6.8/layui/css/layui.css" media="all">
<script src="/static/plugins/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>

<!-- 引入dateTimePicker插件-->
<link rel="stylesheet" type="text/css" href="/static/plugins/datetimepicker-master/jquery.datetimepicker.css"/>
{#<script src="/static/plugins/datetimepicker-master/jquery.js"></script>#}
<script src="/static/plugins/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

<!-- 引入Echarts插件-->
<script src="/static/js/echarts.min.js"></script>